{% extends "background_about.html" %}
{% block opis %}
    <body class=>
        <div class="page">
            <div class="container">
                <div class="photo-container">
                    <img src="/static/image/zagle.jpg" class="photo">
                </div>
                <div class="description">
                    <h1>Żagle</h1>
                    <p>Jeździłem 8lat na kolonie sportowe związane ze sportem wodnym,
                      zaznajomiłem się z dużą ilością sportów wodnych. Dostałem propozycję
                      kursów na patent żeglarza z którego skorzystałem. Chiwlę potem
                      udało mnie się zdobyć strenika motorowodnego kompletując dwa 
                      podstawowe dokumenty. Na tych koloniach po 9 latach byłem
                      wychowawca windsurfingu.
                    </p>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
{% endblock %}