{% extends "background_about.html" %}
{% block opis %}
    <head>
      <style>
        .photo {
          width: 1000px;
        }
      </style>
    </head>
    <body class=>
        <div class="page">
            <div class="container">
                <div class="photo-container">
                    <img src="/static/image/siata.png" class="photo">
                </div>
                <div class="description">
                    <h1>Siatkówka</h1>
                    <p>Przed pandemią zacząłem grać w lokalnej drużynie,
                      była to amatorska liga. Grałem na pozycji środkowego.
                      Moja przygoda trwała rok ale w tym czasie sporo się,
                      nauczyłem skończyłem karierę wraz z końcem szkoły gdzie,
                      przeprowadziłem się do Wrocławia
                    </p>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
{% endblock %}