{% extends "background_about.html" %}
{% block opis %}
    <body class=>
        <div class="page">
            <div class="container">
                <div class="photo-container">
                    <img src="/static/image/boks.png" class="photo">
                </div>
                <div class="description">
                    <h1>Boks</h1>
                    <p>Podczas pracy w Quaparku udało mnie się,
                        zainteresoać boksem. Widzę spory postęp i 
                        z odpowiednim przygotowaniem chciałbym przeprowadzić
                        walkę aby spróbować jak to jest.
                    </p>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
{% endblock %}