{% extends "background_about.html" %}
{% block opis %}
    <body class=>
        <div class="page">
            <div class="container">
                <div class="photo-container">
                    <img src="/static/image/narty.jpeg" class="photo">
                </div>
                <div class="description">
                    <h1>Narciarstwo</h1>
                    <p>Moje doświadczenie opiera się na dwóch sezonach.
                        Zaczęło się niewinnie w Zieleńcu, szybko ewoluowało
                        do Czech a w piku udało się zobaczyć Alpy we Francji.
                        Pomimo krótkiego czasu mocno wkręciłem się w tą zabawę,
                        oraz myślę o zakupie nart do freestyle. Mam nadzieję
                        na progress w tej dziedzinie.
                    </p>
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </body>
{% endblock %}